/**************************************
***** Icons
***************************************/

.icon {
	height: 3rem;
	width: 3rem;

	&--logo {
		fill: $white;
		height: 2.2rem;
		width: 2.2rem;
		transform: rotate(180deg);
	}
}
