$width: 5rem;
$height: 5rem;

.user {
	margin-top: 2rem;

	&__figure {
		@include flexCenter;
		width: $width;
		height: $height;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 2rem;
		@include bgColor;
	}

	&__avatar {
		width: 90%;
		height: 90%;
		border-radius: 50%;
	}

	&__username {
		&:link,
		&:visited {
			text-decoration: none;
			color: $white;
			font-weight: 400;
			@include flexVertical;
		}

		&:hover,
		&:active {
			color: $purpble_blue;
		}
	}
}
