/**************************************
***** BASE
***************************************/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
	box-sizing: border-box;
}

.row {
	width: 104rem;
	margin: 0 auto;
}

.container {
	overflow-x: hidden;
	@include flexColumn;
	min-height: 100vh;
	background-color: $black;
	@include scroll;
	background-image: url('../img/bg/bg-strip.png');
	background-size: cover;
}

.header {
	background-color: rgba(102, 51, 153, 0.425);
}

.main {
	flex: 1;
}
