/**************************************
***** BASE
***************************************/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include media(big-desktop) {
		font-size: 63.5%;
	}

	@include media(tab-land) {
		font-size: 59%;
	}

	@include media(tab-port) {
		font-size: 57%;
	}
}

body {
	box-sizing: border-box;
}

.row {
	max-width: 104rem;
	margin: 0 auto;

	@include media(tab-land) {
		padding: 0 1%;
	}
	@include media(64em) {
		padding: 0 3%;
	}
	@include media(phone) {
		padding: 0 4%;
	}

	@include media(20em) {
		padding: 0 2%;
	}
}

.container {
	height: 100vh;
	overflow-x: hidden;
	@include flexColumn;
	background-color: $black;
	@include scroll;
	background-image: url('../img/bg/bg-strip.png');
	background-size: cover;

	@include media(64em) {
		background-image: url('../img/bg/bg-strip-medium.png');
	}

	@include media(phone) {
		background-image: url('../img/bg/bg-strip-small.png');
	}
	@include media(phone-sm) {
		background-image: url('../img/bg/bg-strip-mobile.png');
	}
}

.main {
	flex: 1;
	display: flex;
}

.section {
	padding: 4rem 0;
}
