.header {
	padding-top: 4rem;

	&__top_content {
		@include flexVertical;
		margin-bottom: 2rem;
	}

	&__logo_box {
		@include flexVertical;
		margin-right: auto;
	}

	&__logo {
		@include logo;
	}
}
