@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/**************************************
***** Colors
***************************************/
/**************************************
***** Typography
***************************************/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 1.6rem; }

.header__logo_name {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px; }

/**************************************
***** BUTTONS
***************************************/
/**************************************
***** Icons
***************************************/
.icon {
  height: 3rem;
  width: 3rem; }
  .icon--logo {
    fill: #fff;
    height: 2.5rem;
    width: 2.5rem;
    transform: rotate(180deg); }

/**************************************
***** BASE
***************************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  width: 104rem;
  margin: 0 auto; }

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0b0e14;
  background-image: url("../img/bg/bg-strip.png");
  background-size: cover; }
  .container::-webkit-scrollbar {
    width: 1rem; }
  .container::-webkit-scrollbar-track {
    background-color: transparent; }
  .container::-webkit-scrollbar-thumb {
    background-color: #0b0e14;
    border-radius: 50px; }

.header {
  background-color: rgba(102, 51, 153, 0.425); }

.main {
  flex: 1; }

.header {
  display: flex;
  align-items: center;
  padding-top: 4rem; }
  .header__logo_box {
    display: flex;
    align-items: center;
    margin-right: auto; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #8468f5 22%, #de74ec 94%);
    padding: 0.8rem;
    border-radius: 1rem; }
